<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Choice 1</th>
      <th>Votes for Choice 1</th>
      <th>Votes for Choice 2</th>
      <th>Choice 2</th>
    </thead>
    <tbody>
      <%= render partial: "pair", collection: pairs, as: :pair %>
    </tbody>
  </table>
</div>