<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Winning Choice</th>
      <th><%= sortable "winning" %>Votes for Winning Choice</th>
      <th><%= sortable "losing" %>Votes for Losing Choice</th>
      <th>Losing Choice</th>
    </thead>
    <tbody>
      <%= render partial: "pair", collection: pairs, as: :pair %>
    </tbody>
  </table>
</div>