<h1>STATS</h1>
<%= form_tag stats_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<h3>All pairs</h3>
<%= render partial: "table", locals: {pairs: @pairs} %>