<h1>STATS</h1>
<h3>Dominating pairs</h3>
<%= render partial: "table", locals: {pairs: @dominating_pairs} %>
<h3>Close pairs</h3>
<%= render partial: "table", locals: {pairs: @close_pairs} %>
<h3>All pairs</h3>
<%= render partial: "table", locals: {pairs: @pairs} %>